

body{
    font-family: "Karla", sans-serif;
}
.header{
    display: flex;
    align-items: center;
    padding: 2% 5%;
}

.header, .btn{
    background: linear-gradient(to right, #672280, #a626d3);
    color: #fff;
}
.header .logo{
    width: 40px;
}
.header h2{
    margin-right: auto;
    margin-left: 1%;
}
.text{
    /* padding: 5px 13px;*/
    margin: 4%; 
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 15px;
}
 .text input[type="text"]{
    border: 1px #D5D4D8 solid;
    border-radius: 10px;
    padding-block: 10px;
    padding-left: 7px;
}


.btn{
    width: 100%;
    padding: 7px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    grid-column: 1 / -1;
    cursor: pointer;
}  

.meme-content{
    width: 95%;
    height: 50vw;    
    margin-inline: auto;
    margin-block: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.first-quote, .second-quote{
    position: absolute;
    left: 0;
    font-size: 3rem;
    letter-spacing: -4px;
    color: #fff;
    text-shadow: 0 0 5px #000;
}

.first-quote{
    top: 0;
    
    /* margin-left: 64px; */
}

.second-quote{
    bottom: 0;
    /* margin-left: -7%; */
}
.meme-img{
    width: 100%;
}