*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 10px;
}
.card{
 max-width: 300px;
 /* text-align: center; */
 border-radius: 20px;
 box-shadow: 3px 3px 9px 5px rgba(0,0,0,0.2);
}
/* .card-image{} */
.card-image > img{
    width: 100%;
}